:root{
    --bg: 0;
}
.playlist{
    position: relative;
    width: 20%;
    height: 30vh;
    //border: 2px dashed #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 1vh 0;
    background-color: #1f1f1f;
    &:hover{
        transition: width .5s 0s ease-in-out, height .5s 0s ease-in-out;
    }
    .img{
        width: 90%;
        height: 22vh;
        margin: 1vh auto 0 auto;
        background: var(--bg) center center no-repeat;
        background-size: cover;
    }
    .title{
        width: 90%;
        height: 3vh;
        line-height: 3vh;
        font-size: 2vh;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin: 0 auto 1vh auto;
    }
    .overlay{
        position: absolute;
        background-color: rgba(27,27,27,.7);
        width: 100%;
        height: 30vh;
        opacity: 0;
        transition: opacity .5s 0s ease-in-out;
        will-change: opacity;
        &:hover{
            transition: opacity .5s 0s ease-in-out;
            opacity: 1;
        }
        
        .play{
            width: 5vh;
            height: 5vh;
            margin: 10vh auto;
            border-radius: 50%;
            border: 2px solid #eee;
            background-color: rgba(20,20,20,.8);
            will-change: transform;
            transition: transform .5s 0s;
            text-align: center;
            line-height: 4.5vh;
            font-size: 2.5rem;
            &:hover{
                transform: scale(1.1);
                transition: transform .5s 0s;                
            }
        }
    }
    
}